body{
  background-image: url('https://t2.ftcdn.net/jpg/00/61/95/15/240_F_61951518_naBHymGgaRZDhVN4XDqYlOD1YNdWtcVX.jpg');
  background-repeat: repeat;
  background-size: 80px 80px;
}

.fullWidth{ width: 100%;}

h1,h3,h5{ 
  text-align: center;
  font-family: 'Bangers', cursive;
}
p{ 
  text-align: center; 
}

h1{ 
  font-size: 66px;
  color: #FFC845;
  text-shadow: 2px 2px #000;
}
.row-centered { margin: auto; max-width: 300px;}
.container{
  background: rgb(0,0,0,0);
}

.btn{
  border: 1px solid #E49B39; 
  background: linear-gradient(#FDBD41, #E49B39);
  color: #333;
  font-family: 'Bangers', cursive;
  font-size: 36px;
}

.btn:hover{
  border: 1px solid #E49B39; 
  background: linear-gradient(#FDBD41, #E49B39);
  color: #333;
  font-family: 'Bangers', cursive;
  font-size: 36px;
}

.btn:active { 
  border: 1px solid #E49B39; 
  background: linear-gradient(#FDBD41, #E49B39);
  color: #333;
  font-family: 'Bangers', cursive;
  font-size: 36px;
}

.title{
  height: 100%
  z-index: 0;
  width: 100%;
  height: 1000px;
}

.col-md-6{
  background: #FFF1B0;
}

.curve{
  border-radius: 20px;
  border: 5px solid white;

}

